@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Press+Start+2P&family=Source+Code+Pro:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




* {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	scroll-behavior: smooth;
	font-family: 'Inter', sans-serif;
	font-family: 'Press Start 2P', cursive;
	font-family: 'Source Code Pro', monospace;
	font-weight: 500;
}
